/* common css styles  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #272727;
}

.primary-button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.content-primary-width {
    width: 1440px;
    margin: auto;
}

/* header section style */
header {
    background-color: #E554731A;
    margin-bottom: 178px;
}

header h1 {
    font-size: 70px;
}

header p {
    margin: 20px 0;
    max-width: 550px;
    font-size: 20px;
    font-weight: 700;
}

.header-image {
    margin-top: 50px;
}

.header-section-content {
    display: flex;
    margin: 0 240px;
    justify-content: space-between;
}

.header-text-content {
    max-width: 700px;
    margin-top: 197px;
}

/* featured section styles */
.featured-section {
    /* margin: 178px 0 178px 0; */
    text-align: center;
}

.featured-section-text-content {
    text-align: center;
    max-width: 590px;
    margin: auto;
}

.featured-section-text-content h3 {
    margin-bottom: 24px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-section-text-content p {
    margin-bottom: 44px;
}

.featured-section-flower-content {
    display: flex;
    justify-content: space-around;
}

.flower-content {
    width: 464px;
    height: 538px;
    border-radius: 50% 50% 0 0;
}

.flower-background1 {
    background-color: #A7216226;
    position: relative;
}

.flower-background1 img {
    position: absolute;
    bottom: 0;
    left: 80px;
    bottom: 0;
}

.flower-background2 {
    background-color: #0597A026;
    position: relative;
}

.flower-background2 img {
    position: absolute;
    bottom: 0;
    left: 80px;
    bottom: 0;
}

.flower-background3 {
    background-color: #477D1126;
    position: relative;
}

.flower-background3 img {
    position: absolute;
    bottom: 0;
    left: 80px;
    bottom: 0;
}

.featured-section-flower-content-link {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.featured-section-flower-content-link a {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* information section */
.info-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
    margin-top: 128px;
}

.info-content {
    padding: 70px 0;
    text-align: center;
}

.info-content p {
    padding-top: 20px;
}

/* sale content styles */
.sale-section {
    background-color: #E554730D;
    margin-bottom: 128px;
}

.sale-content {
    display: flex;
    padding: 0 390px;
    justify-content: space-between;
}

.sale-text-content {
    margin: 180px 0;
    max-width: 594px;
    text-align: center;
}

.sale-content h3 {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.sale-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.sale-content .sale-image {
    margin: 100px 0;
}

/* social section */
.social-section {
    text-align: center;
}

.social-section .content-title {
    max-width: 594px;
    margin: auto;
}

.social-section .content-title h3 {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}

.social-section .content-title p {
    padding-bottom: 40px;
}

.social-section .content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
}

.social-image1 {
    height: 396px;
    width: 343px;
}

.social-image2 {
    height: 396px;
    width: 343px;
}

.social-image3 {
    height: 396px;
    width: 343px;
}

.social-image4 {
    height: 396px;
    width: 343px;
}

/* subscription section styles */
.subscription-section {
    height: 449px;
    background-image: url('/images/rectangle\ 9.png');
    text-align: center;
    padding: 122px 0 122px 0;
    background-repeat: no-repeat;
    margin-top: 128px;
}

.subscription-section .input-field {
    width: 700px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding: 10px;
    margin-right: 20px;
}

.subscription-section p {
    padding: 20px 0 40px 0;
}

/* footer section  */
footer {
    background: #111010;
    color: white;
    padding: 128px 649px;
    text-align: center;
}

footer p {
    padding: 20px 0 40px 0;
}

footer #all-right-reserved {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}