/* common css styles  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #272727;
}

.primary-button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
    color: #FFFFFF;
}

.content-width {
    width: 1440px;
    margin: auto;
}

/* header section style */
header {
    background-color: #E554731A;
}

header h1 {
    font-size: 70px;
}

header p {
    margin: 20px 0;
    max-width: 550px;
    font-size: 20px;
    font-weight: 700;
}

.header-image {
    margin-top: 50px;
}

.header-section-content {
    display: flex;
    margin: 0 240px;
    justify-content: space-between;
}

.header-text-content {
    max-width: 700px;
    margin-top: 197px;
}

/* featured section styles */
.featured-section {
    margin: 178px;
}

.featured-section-text-content {
    text-align: center;
    max-width: 590px;
    margin: auto;
}

.featured-section-text-content h3 {
    margin-bottom: 24px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-section-text-content p {
    margin-bottom: 44px;
}

.featured-section-flower-content {
    display: flex;
    justify-content: space-around;
}

.flower-content {
    width: 464px;
    height: 538px;
    border-radius: 50% 50% 0 0;
}

.flower-background1 {
    background-color: #A7216226;
    position: relative;
}

.flower-background1 img {
    position: absolute;
    bottom: 0;
    left: 80px;
    bottom: 0;
}

.flower-background2 {
    background-color: #0597A026;
    position: relative;
}

.flower-background2 img {
    position: absolute;
    bottom: 0;
    left: 80px;
    bottom: 0;
}

.flower-background3 {
    background-color: #477D1126;
    position: relative;
}

.flower-background3 img {
    position: absolute;
    bottom: 0;
    left: 80px;
    bottom: 0;
}

.featured-section-flower-content-link {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
}

.featured-section-flower-content-link a {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}